# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll
*.so

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vim
*.swp
*.bak
*~

# Python
*.pyc

#automake
autoconfig.h*

# Miscellaneous compilation files/directories
.libs/
build-ext/
build/
htmlcov/
.eggs/*
dist/
.vscode
TODO*.md
.tox
.pytest_cache
.coverage
**/.ipynb_checkpoints/**
docs/build/*
public/
*.idea
*.egg-info/
.recipe/out
**/*.c
out/*
__pycache__/*
.venv/*
.devcontainer
tmp/